@model SistemaCadastro.Models.Combustivel

@{
    ViewBag.Title = "Excluir Combustível";
}

<h2>Excluir Combustível</h2>

<p>Tem certeza que deseja excluir o combustível <strong>@Model.Nome</strong>?</p>

@using (Html.BeginForm("ListarCombustivel", "Combustivel", FormMethod.Post))
{
    @Html.AntiForgeryToken() <!-- Incluindo o token antifalsificação -->

    @Html.HiddenFor(m => m.CombustivelId) <!-- Campo oculto para o ID do combustível -->

    <button type="submit" class="btn btn-danger">Excluir</button>
    <a href="@Url.Action("ListarCombustivel", "Combustivel")" class="btn btn-secondary">Cancelar</a>
}
